<h1>予約する</h1>

<%= form_with(model:[@hotel, reservation], local: true) do |form| %>
<!-- name -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :reservation_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :reservation_name %>
  </div>

    <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :reservation_start_date %>
  </div>

      <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :reservation_end_date %>
  </div>

        <div class="field">
    <%= form.label :people %>
    <%= form.text_field :people, id: :reservation_people%>
  </div>
  <%= form.hidden_field :hotel_id %>
  

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>