<h1>ホテルの一覧</h1>  
 <%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.submit '検索',class: "btn btn-success" %>

	<% end %>

<% @hotels.each do |hotel| %>
  <p><%= hotel.name %></p>
  <p><%= hotel.description %></p>
  <p><%= image_tag(hotel.picture_url, width: 600) if hotel.picture.present? %></p>
  
<% end %>s